@import "../_sass/variables";
@import "../_sass/bootstrap";
@import "../_sass/pygments";

$site-bg: #f9f9f9;
$site-border: darken($site-bg, 2%);

body {
	background-color: $site-bg;
}

hr {
	margin-top: $line-height-computed / 2;
	margin-bottom: $line-height-computed / 2;
	border: 0;
	border-top: 1px solid $hr-border;
}

.container {
	background-color: $body-bg;
	border-right: 1px solid $site-border;
	border-left: 1px solid $site-border;
}

#river {
	@media(min-width: $screen-sm-min) {
		border-left: 1px solid #eee;
		padding: 0 $grid-gutter-width;
	}

	.post {
		> header:first-child > ul li {
			font-size: 14px;
		}

		.jumbotron {
			font-family: $font-family-sans-serif-light;
			font-weight: 300;
			line-height: 1.25em;
			font-size: 21px;
		}
	}
}

#sidebar {
	padding-left: 3%;
	padding-top: $grid-gutter-width / 2;

	@media(min-width: $screen-sm-min) {
		padding-top: ($line-height-computed * 2) + 5px;
	}

	@media(max-width: $screen-sm-min - 1) {
		background-color: $site-bg;
		border-bottom: 1px solid $site-border;
	}

	.tagline {
		.thumbnail {
			float: left;
			margin-right: $grid-gutter-width / 2;
			padding: $thumbnail-padding;
			margin-bottom: $line-height-computed;

			@media(min-width: $screen-sm-min) {
				float: none;
				margin-right: 0;
			}
		}

		h1, h2 {
			margin-top: 0;
		}

		h1 {
			font-size: 25px;
			font-weight: 700;

			@media(max-width: $screen-sm-min - 1) {
				margin-bottom: 10px;
			}
		}

		h2 {
			font-size: 16px;
			font-weight: 300;

			@media(max-width: $screen-sm-min - 1) {
				margin-bottom: 0px;
			}
		}
	}

	.img-rounded {
		border-radius: 4px;
	}

	ul.social li {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.highlight {
	pre, code {
		font-size: 14px;
	}

	pre {
		overflow: auto;
		word-wrap: normal;
		white-space: pre;
		max-height: 300px;

		code {
			white-space: pre;
			word-wrap: normal;
		}
	}
}

.comments {
	margin-top: 20px;
}

.post-pagination {
	margin-top: 3em;

	a, a:hover {
		text-decoration: none;
	}
}

.ellipsis {
	//width: 250px;
	max-width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}
