/*
   colors:
     redish orange: b94a48    
*/

#sidebar .thumbnail {
    display: inline-block
}

#sidebar .img-rounded {
    border-radius: 4px;
}

.post {
    padding-left: 40px;
}

.post > header:first-child > ul li {
    font-size: 14px;
}

.post .jumbotron {
    font-family: 'RobotoLight',"Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.25em;
    font-size: 21px;
    /*font-size: 21px;
    line-height: 1.25;
    font-family: 'RobotoLight',"Segoe UI", Helvetica, Arial, sans-serif;*/
}

#river {
    border-left: 1px solid #eee;
}

#sidebar {
    padding-left: 3%;
    padding-top: 40px;
}

    #sidebar > h1, #sidebar > h2, #sidebar > h3 {
        margin: 0;
        width: 75%;
    }

    #sidebar ul.social li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #sidebar h1 {
        font-size: 30px;
        line-height: 30px;
        font-weight: 900;
        margin-top: 15px;
    }

    #sidebar h2 {
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 10px;
        font-weight: bold;
    }

    #sidebar h3 {
        font-size: 16px;
        line-height: 23px;
        margin-top: 10px;
        margin-bottom: 25px;
    }

.highlight pre, .highlight code {
    font-size: 14px;
}

.highlight pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  max-height: 300px;
}

    .highlight pre code {
        white-space: pre;
        word-wrap: normal;
    }

.comments {
    margin-top: 20px;
}

.post-pagination {
    margin-top: 3em;
}

    .post-pagination a, .post-pagination a:hover {
        text-decoration: none;
    }

.ellipsis {
	width: 250px;
    max-width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    display: inline-block;
}