---
layout : layout
title : Darren Kopp - On Software
paginate: 5
use_disqus: false
---
{% for post in paginator.posts %}
<div class="row">
    <article class="post col-xs-12">
        <header class="page-header">
            <h2><a href="{{ post.url | remove: '.html' }}">{{ post.title }}</a></h2>
            <ul class="list-inline">
                <li><time datetime="{{ post.date }}" class="when text-muted">{{ post.date | date: "%B %d, %Y" }}</time></li>
                <li><a href="/about">{{ site.author }}</a></li>
                {% if page.use_disqus == true %}
                <li><span><a href="{{ post.url | remove: '.html' }}#disqus_thread">&nbsp;&nbsp;Comments</a></span></li>
                {% endif %}
            </ul>
        </header>
        <section>
            {{ post.content }}
        </section>
    </article>
</div>
{% endfor %}

<!-- Pagination links -->
<footer class="row">
    <hr />
    <div class="col-xs-12">
        <ul class="pager">
            {% if paginator.page > 1 %}
            <li class="previous">{% if paginator.previous_page == 1 %} <a href="/">Previous Page</a>{% else %}<a href="/page/{{paginator.previous_page}}/">Previous Page</a>{% endif %}</li>
            {% endif %}
            {% if paginator.next_page and paginator.total_pages > 1 %}
            <li class="next"><a href="/page/{{paginator.next_page}}/">Next Page</a></li>
            {% endif %}
        </ul>
    </div>
</footer>

{% if page.use_disqus == true %}
<script id="dsq-count-scr" src="//darrenkoppblog.disqus.com/count.js" async></script>
{% endif %}
