---
layout: layout
comments: true
---

<article class="post single">
    <header class="page-header">
        <h2>{{ page.title }}</h2>
        <ul class="list-inline pull-right hidden-xs">
            <li><a href="http://news.ycombinator.com/submit" class="hn-share-button">Vote on HN</a></li>
            <li><div class="g-plus" data-action="share" data-annotation="bubble"></div></li>
            <li><a href="https://twitter.com/share" class="twitter-share-button" data-related="darrenkopp" data-lang="en" data-count="horizontal">Tweet</a></li>
        </ul>
        <ul class="list-inline">
            <li><time datetime="{{ page.date }}" class="when text-muted">{{ page.date | date: "%B %d, %Y" }}</time></li>
            <li><a href="/about">{{ site.author }}</a></li>
        </ul>
    </header>
    <section class="post-content">
        {{ content }}
    </section>
    {% if page.tags and false == true %}
    <footer class="post-tags">
        <ul>
            {% for tag in page.tags %}
				<li><a href="/tag/{{ tag }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </footer>
    {% endif %}
</article>
<nav class="row post-pagination">
    <div class="col-sm-12">
        <ul class="pager">
            {% if page.previous and page.previous.id != page.id %}
            <li class="previous"><a href="{{ page.previous.url }}" title="{{ page.previous.title }}"><span class="ellipsis hidden-xs hidden-sm">{{ page.previous.title }}</span><span class="visible-xs visible-sm">Previous</span></a></li>
            {% endif %}
            {% if page.next and page.next.id != page.id %}
            <li class="next"><a href="{{ page.next.url }}" title="{{ page.next.title }}"><span class="ellipsis hidden-xs hidden-sm">{{ page.next.title }}</span><span class="visible-xs visible-sm">Next</span></a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<hr />
<section class="text-center">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- short post footer -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:468px;height:60px"
         data-ad-client="ca-pub-8727993459649286"
         data-ad-slot="8704177858"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</section>
<hr />
{% if page.comments == true %}
    <section class="comments row">
        <div class="col-sm-12">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = '{{ site.comments["disqus"].short_name }}';
                (function () {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>
                Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments.</a>
            </noscript>
            <a href="http://disqus.com" class="dsq-brlink">blog comments provided by <span class="logo-disqus">Disqus</span></a>
        </div>
    </section>
{% endif %}

<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script>
    (function (d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = '//hnbutton.appspot.com/static/hn.min.js';
        s.parentNode.insertBefore(g, s);
    }(document, 'script'));
</script>