---
layout: layout
comments: false
---

<article class="post single">
    <header class="page-header">
        <h2>{{ page.title }}</h2>
        <ul class="list-inline">
            <li><time datetime="{{ page.date }}" class="when text-muted">{{ page.date | date: "%B %d, %Y" }}</time></li>
            <li><a href="/about">{{ site.author }}</a></li>
        </ul>
    </header>
    <section class="post-content">
        {{ content }}
    </section>
    {% if page.tags and false == true %}
    <footer class="post-tags">
        <ul>
            {% for tag in page.tags %}
				<li><a href="/tag/{{ tag }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </footer>
    {% endif %}
</article>
<nav class="row post-pagination">
    <div class="col-sm-12">
        <ul class="pager">
            {% if page.previous and page.previous.id != page.id %}
            <li class="previous"><a href="{{ page.previous.url }}" title="{{ page.previous.title }}"><span class="ellipsis hidden-xs hidden-sm">{{ page.previous.title }}</span><span class="visible-xs visible-sm">Previous</span></a></li>
            {% endif %}
            {% if page.next and page.next.id != page.id %}
            <li class="next"><a href="{{ page.next.url }}" title="{{ page.next.title }}"><span class="ellipsis hidden-xs hidden-sm">{{ page.next.title }}</span><span class="visible-xs visible-sm">Next</span></a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<hr />
{% if page.comments == true %}
    <section class="comments row">
        <div class="col-sm-12">
            <div id="disqus_thread"></div>
            <script>
            
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://darrenkoppblog.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
    </section>
{% endif %}
